html *
{
	font-family: Georgia !important;
	font-size: 10pt;
}

.long-text-column {
	max-width: 300px;
	word-wrap: break-word;
}

body {
	font-size: 10pt;
}

p.navbar-text {
	font-size: 14pt;
}

nav > div.container-fluid {
	padding-bottom: 10px;
}

.short-text-column {
	white-space: nowrap;
}

.panel > .panel-heading {
    background-image: none;
	color: white;
}

.pwc-danger {
	background-color: rgba(255, 18, 18, 0.89);
}
.pwc-success {
	background-color: #92e86e;
}
.pwc-tangerina {
	background-color: #EB8C00 !important;
}
.pwc-laranja {
	background-color: #DC6900 !important;
}
.pwc-vermelho {
	background-color: #E0281E !important;
}
.pwc-rosa {
	background-color: #DB536A !important;
}
.pwc-vinho {
	background-color: #A32020 !important;
}
.pwc-marrom {
	background-color: #602320 !important;
}
.pwc-cinza {
	background-color: #968C6D !important;
}
.pwc-amarelo {
	background-color: #FFB600 !important;
}
.linha-sumario td {
	vertical-align : middle !important;	
}