<html>
	<head>
		<title>Summary - Automation Test Results</title>
		<link rel="shortcut icon" href="{{ADAPT_STATIC}}/images/favicon.ico" type="image/x-icon">
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel='stylesheet' href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css'>
		<link rel="stylesheet" href='{{ADAPT_STATIC}}/css/styles.css'>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<script src='{{ADAPT_STATIC}}/js/filter.js'></script>
	</head>
	<body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="{{SUMMARY_URL}}">
				<img alt="Brand" src='{{ADAPT_STATIC}}/images/logo.png' width="50">
			  </a>
			  <p class="navbar-text">Test automation results</p>
			</div>
		  </div>
		</nav>
		
		<div class='container'>

			<div class='panel panel-default'>
				<div class="panel-heading pwc-marrom">Execution Details</div>
				<div class='panel-body'>
					<table class='table table-striped table-bordered table-condensed'>
						<thead>
							<tr class="linha-sumario">
								<th>Result Summary</th>
								<th>Execution Start Time</th>
								<th>Execution End Time</th>
								<th>Execution Duration</th>								
								<th>Environment</th>
								<th>Release</th>
							</tr>
						</thead>
						<tbody>
							<tr class="linha-sumario">
								<td>{{SuccessRatio}}</td>
								<td>{{businessScenario.getStartTimeAsStr}}</td>
								<td>{{businessScenario.getEndTimeAsStr}}</td>
								<td>{{businessScenario.getDuration}}</td>								
								<td>{{EnvironmentName}}</td>
								<td>{{Release}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!-- panel -->
			<div class='panel panel-default'>
			<div class="panel-heading pwc-rosa">{{suiteName}} Report</div>
			<div class='panel-body'>
				<table class='table table-striped table-bordered table-condensed datatable'>
					<thead>
						<tr class="linha-sumario">
							<th>Scenario Name</th>
							<th>Test Case Name</th>
							<th>Iteration #</th>
							<th>Status</th>
							<th>Reason</th>
							<th>TC Start Time</th>
							<th>TC End Time</th>
							<th>TC Duration</th>
						</tr>
					</thead>
					<tbody>
					{% for testCase in testCases %}
					<tr class="linha-sumario">
						<td>{{testCase.getBusinessScenario.name}}</td>
						<td><a href={{ testCaseStepURLS[loop.index0] }}>{{testCase.name}}</a></td>
						<td><a href={{ testCaseDataURLS[loop.index0] }}>{{testCase.id}}</a></td>
						{% set result = testCase.result %}
						{% if result.success %}
						<td class='PASS'>PASS</td>
						{% else %}
						<td class='FAIL'>FAIL</td>
						{% endif %}
						<td>{{result.executionMsg}}</td>
						<td>{{testCase.getStartTimeAsStr}}</td>
						<td>{{testCase.getEndTimeAsStr}}</td>
						<td>{{testCase.getDuration}}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- panel -->
		</div><!-- container -->
	</body>
</html>