<html>
	<head>
		<title>Summary - Automation Test Results</title>
		<link rel="shortcut icon" href="{{ADAPT_STATIC}}/images/favicon.ico" type="image/x-icon">
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel='stylesheet' href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css'>
		<link rel="stylesheet" href='{{ADAPT_STATIC}}/css/styles.css'>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<script src='{{ADAPT_STATIC}}/js/filter.js'></script>
	</head>
	<body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="{{SUMMARY_URL}}">
				<img alt="Brand" src='{{ADAPT_STATIC}}/images/logo.png' width="50">
			  </a>
			  <p class="navbar-text">Test automation results</p>
			</div>
		  </div>
		</nav>
	
		<div class='container'>

			<div class='panel panel-default'>
				<div class="panel-heading pwc-vinho">Test Details</div>
				<div class='panel-body'>
					<table class='table table-striped table-bordered table-condensed'>
						<tr>
							<th>Scenario Name</th>
							<td>{{businessScenario.name}}</td>
						</tr>
						<tr>
							<th>Test Case Name</th>
							<td>{{testCase.name}}</td>
						</tr>
						<tr>
							<th>Iteration #</th>
							<td>{{testCase.id}}</td>
						</tr>
					</table>
				</div>
			</div> <!-- panel -->
			
			<div class='panel panel-default'>
				<div class="panel-heading pwc-tangerina">Detailed Report</div>
				<div class='panel-body'>
					<table class='table table-striped table-bordered table-condensed datatable'>
						<thead>
						<tr>
							<th>Step#</th>
							<th>Description</th>
							<th>Actual Result</th>
							<th>Status</th>
							<th>Duration (ms)</th>
							<th>Screen Shot</th>
							<th>Download</th>
						</tr>
						</thead>
						<tbody>
						{% for step in testCase.steps %}
						{% set result = step.result %}
						{% if result %}
						<tr>
							<th>TS {{loop.index}}</th>
							<td>{{step.description}}</td>
							<td>{{result.executionMsg}}</td>
							<td class="{% if result.success %}PASS{% else %}FAIL{% endif %}">{% if result.success %}PASS{% else %}FAIL{% endif %}</td>
							<td>{{step.getDuration}}</td>
							{% if step.screenShotPath %}
							<td><a class="screen-shot" href="{{step.screenShotPath}}">Screen Shot</a></td>		
							{% else %}
							<td></td>
							{% endif %}
							{% if step.downloadPath %}
							<td><a target="_blank" class="download-path" href="{{step.downloadPath}}">Download</a></td>		
							{% else %}
							<td></td>
							{% endif %}
						</tr>
						{% endif %}
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div> <!-- panel -->

		</div> <!-- container -->
		
		<!-- modal -->
		<div id="screen-shot-modal" class="modal fade" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<img class='img-responsive' src="" id='screen-shot-modal-img'>
				</div>
			</div>
		  </div>
		</div>
	</body>
</html>