<html>
	<head>
		<title>Summary - Automation Test Results</title>
		<link rel="shortcut icon" href="{{ADAPT_STATIC}}/images/favicon.ico" type="image/x-icon">
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel='stylesheet' href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css'>
		<link rel="stylesheet" href='{{ADAPT_STATIC}}/css/styles.css'>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<script src='{{ADAPT_STATIC}}/js/filter.js'></script>
	</head>
	<body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="{{SUMMARY_URL}}">
				<img alt="Brand" src='{{ADAPT_STATIC}}/images/logo.png' width="50">
			  </a>
			  <p class="navbar-text">Test automation results</p>
			</div>
		  </div>
		</nav>

		<div class='container'>
		
			<div class='panel panel-default'>
				<div class="panel-heading pwc-marrom">Test Details</div>
				<div class='panel-body'>
					<table class='table table-striped table-bordered table-condensed'>
						<tr>
							<th>Scenario Name</th>
							<td>{{businessScenario.name}}</td>
						</tr>
						<tr>
							<th>Test Case Name</th>
							<td>{{testCase.name}}</td>
						</tr>
						<tr>
							<th>Iteration #</th>
							<td>{{testCase.id}}</td>
						</tr>
					</table>
				</div>
			</div> <!-- panel -->

			<div class='panel panel-default'>
				<div class="panel-heading pwc-laranja">Test Data Details</div>
				<div class='panel-body'>
					<table class='table table-striped table-bordered table-condensed'>
						<thead>
							<tr>
								<th>Test Data Name</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in testCase.data %}
							<tr>
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div> <!-- panel -->

		</div> <!-- container -->

	</body>

</html>